/*.aux
/*.bbl
/*.blg
/*.log
/*.pdf
/*.dvi
/*.cb
/*.cb2
/*.out
/*.toc
/*.lof
/*.lot
/pyexpr.tex
/gitinfo.tex
/graph/*.tex
/figures/testcases*.tex
*.pyc
/gnuplot-lua-tikz.sty
/gnuplot-lua-tikz-common.tex
*~
/bibtex

# Latexrun ignores
/.latexrun.db
/latex.out
